<div class="login">
    
    <div class="login__headers">
        <span class="btn-close" (click)="closeModalLogin()"><i class="fas fa-times"></i></span>
        <span class="icon-user"><i class="fas fa-user"></i></span>
        <h2 class="login-title">Iniciar Sesión</h2>
    </div>
    <div class="login__body">
        <form>
            <label for="email">Email</label>
            <input type="email">
            <label for="password">Password</label>
            <input type="password">
        </form>
    </div>
    <div class="login__footer">
        <button class="btn login__btn">Login</button>
    </div>
    <!-- <button ">cerrar</button> -->
</div>
