<div class="login">

    <div class="login__headers">
        <span class="btn__close" (click)="closeModalLogin()"><i class="fas fa-times"></i></span>
        <span class="icon-user"><i class="fas fa-user"></i></span>
        <h2 class="login-title">Iniciar Sesión</h2>
    </div>
    <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="login__body">

            <div class="form__group">
                <label class="form__label" for="mail">Email</label>
                <input class="form__control" id="mail" type="mail" formControlName="mail">
                <span class="invalid__feedback" *ngIf="campoNoValido('mail')">el email es requerido y debe ser válido</span>
            </div>

            <div class="form__group">
                <label class="form__label" for="password">Password</label>
                <input class="form__control" id="password" type="password" formControlName="password">
                <span class="invalid__feedback" *ngIf="campoNoValido('password')">el password es requerido</span>
            </div>


        </div>

        <div class="login__footer form__group">
            <button class="btn login__btn" [ngClass]="{'btn__hover' : !btnDisabled}" type="submit" [disabled]="btnDisabled">
                <div class="icono"><i class="fas fa-user"></i></div>
                <span *ngIf="!btnDisabled">Login</span>
                <span *ngIf="btnDisabled" class="container__spinner"><div class="spinner"></div> Iniciando sesión...</span>  
            </button>
        </div>

    </form>
    <!-- <button ">cerrar</button> -->
</div>