<header>
    <div class="wrap">
        <ul id="navbar">
            <li><a href="">INCIO</a></li>
            <li><a href="">PROYECTOS</a></li>
            <li><a href="">CONTACTO</a></li>
        </ul>

        <div id="logo">
            <h1>M-N</h1>
            <p>Inner</p>
        </div>

        <div class="clearfix"></div>
        <div id="textcenter">
            <h1>Web site developer</h1>
            <span> 
                <img src="../assets/img/pen.jpg" alt="">
            </span>
        </div>
    </div>

</header>