/* css header */
header{
    width: 100%;
    height: 728px;
    /* background: var(--color-fondo); */
    text-align: center;
}

header #navbar li{
    display: block;
    float: left;
    padding: 20px;
}
header #navbar li a{
  text-decoration: none;
  color: white;
}
#logo{
    display: block;
    float: right;
    width: 55px;
    height: 55px;
    margin-top: 10px;
    background-color: var(--color-secundario);
    /* box-shadow: 0px 0px 1px, 0px 0px 2px, 0px 0px 3px, 0px 0px 4px, 0px 0px 5px, 0px 0px 6px; */
    border-radius: 60px 20px 5px;
    font-size: 10px;
    text-align: center;
    color: black;
}
#logo h1{
    /* letter-spacing: 15px; */
    margin-top: 16px;
}

#textcenter{
    margin: 150px auto;
    color: white;
}
#textcenter h1{
    font-family: cursive;
    font-size: 40px;
    letter-spacing: 1px;
    
}
#textcenter img{
    width: 10%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-top: 10px;
}
/*RESPONSIVE */
@media(min-width: 300px) and (max-width: 560px){
    header{
        height: 670px;
    }
    header #navbar li{
        padding: 10px;
    }
    header #navbar li a{
        font-size: 12px;
    }
    #logo{
        width: 50px;
        height: 50px;
    }
    #logo h1{
        font-size: 15px;
        margin-top: 10px;
    }

}

@media(min-width: 560px) and (max-width: 768px){

}

@media(min-width: 768px) and (max-width: 992px){

}
@media(min-width: 992px) and (max-width: 1300px){

}