/* css header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* box-shadow: var(--shadow); */
  position: fixed;
  z-index: 1000;
  background: var(--color-background);
  opacity: 0.9;
  width: 100%;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img{
    width: 11rem;
    height: 100%;
    color: var(--title-color);
}

.social{
    position: relative;
    width: 20rem;  
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    font-size: 2rem;
   
}

.social a{
    padding: 2px 8px; 
    border-radius: 25px;
    box-shadow: var(--shadow);
}
.social a i{
    color: var(--title-color);
}

.login a i{
    color: crimson; 
}

.tooltip{
    position: absolute;
    top: 0px;
    right: 0px;
    background: var(--color-primary);
    padding: 5px;
    transform: rotate(90deg);
    border-radius: 25px;
    box-shadow: var(--shadow);
    color: var(--title-color);
    font-size: 0.6em;
    transition: all 20s ease-out;
}

.tooltip__email{
    display: none;
    top: 45px; 
    right: 160px;
}

.tooltip__facebook{
    display: none;
    top: 55px; 
    right: 110px;
}

.tooltip__linkedin{
    display: none;
    top: 50px; 
    right: 70px;
}

.tooltip__github{ 
    display: none; 
    top: 50px;
    right: 30px;
}

.tooltip__login{
    display: none; 
    top: 40px;
}

.email:hover .tooltip__email{
    display: block;
}

.facebook:hover .tooltip__facebook{
    display: block;
}

.linkedin:hover .tooltip__linkedin{
    display: block;
}

.github:hover .tooltip__github{
    display: block;
}

.login:hover .tooltip__login{
    display: block;
}