<!-- banner -->
<section class="banner">
    <article class="banner__img">
        <img src="assets/img/personal_img.png" alt="foto_personal">
    </article>

    <article class="banner__content">
        <h2 class="content__title">Hola, Mi nombre es {{banner.name}}</h2>
        <h3 class="content__sub-title">{{banner.training}}</h3>
        <p class="content__description">{{banner.description}}</p>
    </article>

    <!-- iditing icon -->
    <div class="position__editing--icon">
        <app-editing-icons (valueOutput)="openModalBanner = $event" [valueInput]="openModalBanner"></app-editing-icons>
    </div>
    <!-- end iditing icon -->

    <div class="container__edition banner__edition" *ngIf="openModalBanner && userLogin">
        <h2 class="content__sub-title banner__edition--title">Editando banner</h2>

        <div class="column">

            <article class="banner__img">
                <img src="assets/img/personal_img.png" alt="foto_personal">
            </article>

            <article class="banner__content column__right">

                <form [formGroup]="bannerForm" (ngSubmit)="submit()">
                    
                    <div class="form__group">
                        <label class="form__label" for="name">Nombre</label>
                        <input 
                            class="form__control" 
                            id="name" 
                            type="input" 
                            formControlName="name">
                        <span class="invalid__feedback" *ngIf="invalidFiel('name')">campo requerido</span>
                    </div>

                    <div class="form__group">
                        <label class="form__label" for="training">Formación</label>
                        <input 
                            class="form__control" 
                            id="training" 
                            type="input" 
                            formControlName="training"
                            >
                        <span  class="invalid__feedback" *ngIf="invalidFiel('training')">campo requerido</span>
                    </div>

                    <div class="form__group">
                        <label class="form__label" for="description">Descripción</label>
                        <textarea 
                            class="form__control form__textarea" 
                            id="description" 
                            rows="5"
                            formControlName="description"
                        > </textarea>
                        <span class="invalid__feedback" *ngIf="invalidFiel('description')">campo requerido</span>
                    </div>

                    <div class="form__group btn__form--banner">
                        <button class="btn btn__danger" (click)="closeModalBanner()"> <span>Cancelar</span> </button>
                        <button class="btn btn__success" type="submit"> <span>Aceptar</span> </button>
                    </div>

                </form>
            </article>

        </div>
    </div>

</section>
<!-- end banner -->