<!-- banner -->
<section class="banner">
    <article class="banner__img">
        <img src="assets/img/personal_img.png" alt="foto_personal">
    </article>

    <article class="banner__content">
        <h2 class="content__title">Hola, Mi nombre es Miguel</h2>
        <h3 class="content__sub-title">Fullstack Developer</h3>
        <p class="content__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit itaque rem delectus enim voluptatibus deserunt, ut voluptatum minus libero dolorum possimus a aut architecto sint repudiandae dolore, culpa tenetur tempora?</p>
    </article>

    <span><i class="fas fa-pen-square"></i></span>


    <!-- form edition -->
<!-- 
    <div class="background_modal">

        <article class="container_edition">
            <h1>Formulario de edición</h1>
        </article>
    </div> -->


    <!-- end form edition -->

</section>
<!-- end banner -->
