<div *ngIf="modalVisible" class="background_modal">
    <div class="container__edition banner__edition">
        <span class="btn__close" (click)="closeModal()"><i class="fas fa-times"></i></span>
        <h2 class="content__sub-title">Editando Banner</h2>
        <div class="column">
            <article class="banner__img">
                <img src="assets/img/personal_img.png" alt="foto_personal">
            </article>
    
            <article class="banner__content column__right">
    
                <form [formGroup]="bannerForm" (ngSubmit)="submit()" >
                    
                    <div class="form__group">
                        <label class="form__label" for="title">Nombre</label>
                        <input 
                            class="form__control" 
                            id="title" 
                            type="input" 
                            formControlName="title">
                        <span class="invalid__feedback" *ngIf="invalidFiel('title')">campo requerido</span>
                    </div>
    
                    <div class="form__group">
                        <label class="form__label" for="sub_Title">Formación</label>
                        <input 
                            class="form__control" 
                            id="sub_Title" 
                            type="input" 
                            formControlName="sub_Title"
                            >
                        <span  class="invalid__feedback" *ngIf="invalidFiel('sub_Title')">campo requerido</span>
                    </div>
    
                    <div  class="form__group">
                        <label class="form__label" for="content">Descripción</label>
                        <textarea 
                            class="form__control form__textarea" 
                            id="content" 
                            rows="2"
                            formControlName="content"
                        > </textarea>
                        <span class="invalid__feedback" *ngIf="invalidFiel('content')">campo requerido</span>
                        
                    </div>
    
                    <div class="form__group btn__form--banner">
                        <button [disabled]="loading"  class="btn btn__danger" (click)="closeModal()"> <span>Cancelar</span> </button>
                        <button [disabled]="loading" class="btn btn__success" [ngClass]="{'btn--loading' : loading}" type="submit"> 
                            <span *ngIf="loading" class="btn__success--spinner"><app-spinner></app-spinner> Loandig...</span>  
                            <span *ngIf="!loading">Aceptar</span>
                        </button>           
                    </div>
    
                </form>
            </article>
    
        </div>
    </div>
</div>


<!-- banner -->
<section class="banner">
    <article class="banner__img">
        <img src="assets/img/personal_img.png" alt="foto_personal">
    </article>

    <article class="banner__content">
        <h2 class="content__title">Hola, soy {{banner[0].title}}</h2>
        <h3 class="content__sub-title">{{banner[0].sub_Title}}</h3>
        <p class="content__description">{{banner[0].content}}</p>
    </article>

    <!-- iditing icon -->
    <div class="position__editing--icon">
        <app-editing-icons (click)="openModal()"></app-editing-icons>
    </div>
    <!-- end iditing icon -->

</section>
<!-- end banner -->
