<header class="header">
    <div class="icon">
        <img src="assets/img/logo_AP.png" alt="logo_ap">
    </div>

    <ul class="social">
        <li class="email">
            <div class="tooltip tooltip__email">Gmail</div>
            <a [routerLink]="['/listar-data259']" routerLinkActive="router-link-active" ><i class="far fa-envelope"></i></a>
        </li>
        <li class="facebook">
            <div class="tooltip tooltip__facebook">Facebook</div>
            <a href=""><i class="fab fa-facebook"></i></a>
        </li>
        <li class="linkedin">
            <div class="tooltip tooltip__linkedin">Linkedin</div>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li class="github">
            <div class="tooltip tooltip__github">Github</div>
            <a href=""><i class="fab fa-github-square"></i></a>
        </li>
        <li class="login" (click)="openLogin()">
            <div class="tooltip tooltip__login">Login</div>
            <a><i class="far fa-user"></i></a>
        </li>
    </ul>

    <div class="prueba">
        <a href="">Navegar</a>

        <li>
            <a href="">segundo</a>
        </li>
    </div>
</header>
<div class="background_modal" *ngIf="openModalLogin">
    <app-login></app-login>
</div>






<!-- <div >
    <ul id="navbar">
        <li><a href="">INCIO</a></li>
        <li><a href="">PROYECTOS</a></li>
        <li><a href="">CONTACTO</a></li>
    </ul>

    <div id="logo">
        <h1>MP</h1>
    </div>

    <div id="textcenter">
        <h1>Hola, mi nombre es Miguel</h1>
        <span>
            <h2>Fullstack Developer</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus reprehenderit sunt deleniti ullam nesciunt facilis voluptate temporibus provident iusto sapiente repudiandae amet, dolor adipisci voluptatem. Ea tempore rerum velit. Dignissimos.</p> 
            <img src="../assets/img/pen.jpg" alt="">
        </span>
    </div>
</div> -->