<header class="header">
    <div class="icon">
        <img src="assets/img/logo_AP.png" alt="logo_ap">
    </div>

    <ul class="icon__float">
        <li class="email">
            <div class="tooltip tooltip__email">Gmail</div>
            <a [routerLink]="['/listar-data259']" routerLinkActive="router-link-active" ><i class="far fa-envelope"></i></a>
        </li>
        <li class="facebook">
            <div class="tooltip tooltip__facebook">Facebook</div>
            <a href=""><i class="fab fa-facebook"></i></a>
        </li>
        <li class="linkedin">
            <div class="tooltip tooltip__linkedin">Linkedin</div>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li class="github">
            <div class="tooltip tooltip__github">Github</div>
            <a href=""><i class="fab fa-github-square"></i></a>
        </li>
        <li class="login" (click)="openLogin()">
            <div class="tooltip tooltip__login">Login</div>
            <a><i class="far fa-user"></i></a>
        </li>
    </ul>

</header>
<div class="background_modal" *ngIf="openModalLogin">
    <app-login></app-login>
</div>

