<header class="header">
    <div class="icon">
        <img src="assets/img/logo_AP.png" alt="logo_ap">
    </div>

    <ul class="icon__float">
        <li class="email">
            <div class="tooltip tooltip__email">Gmail</div>
            <a href="mailto:miguellrvc@gmail.com" ><i class="far fa-envelope"></i></a>
        </li>
        <li class="linkedin">
            <div class="tooltip tooltip__linkedin">Linkedin</div>
            <a href="https://www.linkedin.com/in/miguel-perez-7354b84b"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li class="github">
            <div class="tooltip tooltip__github">Github</div>
            <a href="https://github.com/miguellvc"><i class="fab fa-github-square"></i></a>
        </li>
        <li class="login" (click)="openModal(login.isLogin)">
            <div class="tooltip tooltip__login">{{login.msg}}</div>
            <a><i class="far fa-user color" [class]="login.color"></i></a>
        </li>
    </ul>

</header>
<div class="background_modal" *ngIf="openModalLogin">
    <app-login></app-login>
</div>

