<section class="education">
    <h1 class="section_title">Educación</h1>
    <div class="education__container">

        <div class="card" [ngStyle]="{'background': colorCard}">
            <div class="card-body">
                <h1 class="card-title">2000-2002</h1>
                <p class="card--detail">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sequi
                    recusandae laborum ipsam dignissimos nostrum vitae provident officia, consectetur ab accusantium
                    corrupti exercitationem temporibus repellat non magni cupiditate ea reprehenderit.</p>
                <p class="card--detail_short">Técnico Universitario en Informática - UNLaR</p>
                    
            </div>
        </div>

        <div class="card">
            <div class="card-body" >
                <h1 class="card-title">2000-2002</h1>
                <!-- <p class="card-detail">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sequi
                    recusandae laborum ipsam dignissimos nostrum vitae provident officia, consectetur ab accusantium
                    corrupti exercitationem temporibus repellat non magni cupiditate ea reprehenderit.</p> -->
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h1 class="card-title">2000-2002</h1>
                <!-- <p class="card-detail">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sequi
                    recusandae laborum ipsam dignissimos nostrum vitae provident officia, consectetur ab accusantium
                    corrupti exercitationem temporibus repellat non magni cupiditate ea reprehenderit.</p> -->
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h1 class="card-title">2000-2002</h1>
                <!-- <p class="card-detail">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sequi
                    recusandae laborum ipsam dignissimos nostrum vitae provident officia, consectetur ab accusantium
                    corrupti exercitationem temporibus repellat non magni cupiditate ea reprehenderit.</p> -->
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h1 class="card-title">2000-2002</h1>
                <p class="card-detail">VER</p>
            </div>
        </div>

        <!-- <div class="card">
            <div class="card-body">
                <h1 class="card-title">2000-2002</h1>
                <p class="card-detail">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sequi
                    recusandae laborum ipsam dignissimos nostrum vitae provident officia, consectetur ab accusantium
                    corrupti exercitationem temporibus repellat non magni cupiditate ea reprehenderit.</p>
            </div>
        </div> -->

        <!-- <div class="card">
            <div class="card-body">
                <h1 class="card-title">2000-2002</h1>
                <p class="card-detail">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sequi
                    recusandae laborum ipsam dignissimos nostrum vitae provident officia, consectetur ab accusantium
                    corrupti exercitationem temporibus repellat non magni cupiditate ea reprehenderit.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h1 class="card-title">2000-2002</h1>
                <p class="card-detail">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sequi
                    recusandae laborum ipsam dignissimos nostrum vitae provident officia, consectetur ab accusantium
                    corrupti exercitationem temporibus repellat non magni cupiditate ea reprehenderit.</p>
            </div>
        </div> -->
       
    </div>


</section>