

<!-- banner -->
<section class="banner">
    <article class="banner__img">
        <img src="assets/img/personal_img.png" alt="foto_personal">
    </article>

    <article class="banner__content">
        <h2 class="content__title">Hola, Mi nombre es Miguel</h2>
        <h3 class="content__sub-title">Fullstack Developer</h3>
        <p class="content__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit itaque rem delectus enim voluptatibus deserunt, ut voluptatum minus libero dolorum possimus a aut architecto sint repudiandae dolore, culpa tenetur tempora?</p>
    </article>
</section>
<!-- end banner -->

<!-- abaut -->
<section class="about">
    <h1 class="section_title">Sobre Mi</h1>
    <div class="about__container">
        <article class="about__info">
            <div class="info_content">
                <h2 class="content__sub-title">Info Personal</h2>
                <div class="name">
                    <span class="about__info--icon"><i class="fas fa-pencil-alt"></i></span>
                    <p>Miguel Perez</p>
                </div>
                <div class="birth">
                    <span class="about__info--icon"><i class="far fa-calendar-alt"></i> </span>
                    <p>05 diciembre de 1987</p>
                </div>
                <div class="email">
                    <span class="about__info--icon"><i class="fas fa-envelope"></i></span>
                    
                    <p>miguellrvc@gmail.com</p>
                </div>
                <div class="skill">
                    <span class="about__info--icon"><i class="fab fa-adversal"></i></span>
                    <p>Fullstack Developer</p>
                </div>
            </div>
        </article>
    
        <article class="box__content">
           <div class="box">
            <h3>2 +</h3>
            <p>years of experience</p>
           </div>

           <div class="box">
            <h3>2 +</h3>
            <p>years of experience</p>
           </div>

           <div class="box">
            <h3>2 +</h3>
            <p>years of experience</p>
           </div>

           <div class="box">
            <h3>2 +</h3>
            <p>years of experience</p>
           </div>
        </article>
    </div>
    
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<!-- para las cards -->
<!-- <section id="content">
    <div id="contentInfo">
        <button class= "btn">Download CV</button>
        <h1>Información Personal</h1>
        <div class="cajas formulario">
            <div>       
                <h3>2 +</h3>
                <p>years of experience</p>
            </div>
        </div>
    </div>
</section> -->

