

<div *ngIf="!cargandoData">
<!-- header  -->
<app-header></app-header>

<!-- content -->

<div class="wrap"> 


        <app-banner [banner] = "arrayConten[0]"></app-banner>
        <app-education [educationDataTwo] = "arrayConten[1]"></app-education>
        <!-- <app-about></app-about> -->
        <app-skill></app-skill>
        <app-projects></app-projects>
    
</div>

<!-- end content -->

<!-- footer -->
<app-footer></app-footer>

</div>

<div class="prueba" *ngIf="cargandoData">
    <h1>Cargando data</h1>
</div>