/* declaración de variables */
:root {
  --color-background: brown;
  --color-background: #01032F;
  --color-primary: linear-gradient(90deg,
      rgba(8, 6, 10, 1) 0%,
      rgba(12, 12, 12, 1) 26%,
      rgba(24, 96, 111, 1) 100%);
  --color-secondary: hsl(0, 0%, 31%);
  --title-color: hsl(0, 10%, 92%);
  --text-color: hsl(0, 6%, 84%);
  --shadow: 1px 1px 10px rgba(61, 111, 185, 0.89);


  --color-success: hsl(151, 69%, 26%);
  --color-danger: hsl(348, 83%, 47%);
  --color-warning: hsl(42, 100%, 50%);
}

/* estilos globales */
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  background-repeat: no-repeat;

}

section {
  height: 100vh;
  padding: 5rem 9%;
}


.section_title {
  text-align: center;
  font-size: 6vw;
  color: var(--title-color);
  margin-bottom: 3rem;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  section {
    padding: 5rem 9%;
  }

  .section_title {
    font-size: 9vw;
  }
}

/* css header */
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em;
  position: fixed;
  z-index: 1000;
  background: var(--color-background);
  opacity: 0.9;
}

.header .menu {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: var(--title-color);
  font-weight: 500;
  font-size: 1.2rem;
}

.logo img {
  width: 4rem;
  border-radius: 20px;
  color: var(--title-color);
}

.navbar {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: var(--title-color);
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar li a:hover {
  color: var(--text-color);
  border-bottom: 2px solid;
}

/* Responsive: menú */

@media (max-width: 580px) {
  .header .menu {
    width: 100%;
    justify-content:flex-start;
    gap: 2rem;
  }
}

