<section class="skill">
    <h1 class="section_title">Skill</h1>

    <div class="skill__container">

        <div class="skill__progress">
            <div class="progress pro-1">
                <div class="circle circle--1"></div>
                <h2>60%</h2>
                <h3>Html:5</h3>
            </div>
        </div>

        <div class="skill__progress">
            <div class="progress pro-2">
                <div class="circle circle2"></div>
                <h2>60%</h2>
                <h3>CSS</h3>
            </div>
        </div>

        <div class="skill__progress">
            <div class="progress pro-3">
                <div class="circle circle3"></div>
                <h2>60%</h2>
                <h3>JavaScript</h3>
            </div>
        </div>


        <!-- segundo grupo -->

        <div class="skill__progress">
            <div class="progress pro-1">
                <div class="circle circle--1"></div>
                <h2>60%</h2>
                <h3>Html:5</h3>
            </div>
        </div>

        <div class="skill__progress">
            <div class="progress pro-2">
                <div class="circle circle2"></div>
                <h2>60%</h2>
                <h3>CSS</h3>
            </div>
        </div>

        <div class="skill__progress">
            <div class="progress pro-3">
                <div class="circle circle3"></div>
                <h2>60%</h2>
                <h3>JavaScript</h3>
            </div>
        </div>
        

    </div>



</section>