/* box */
.projects__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.projects__container .card{
    /* width: 300px;
      */
    flex: 50%;
    /* height: 130px; */
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 10px 20px;
    background-color: transparent;
    overflow: hidden; 
}

.card__image-container {
    position: relative; 
    width: 100%;
    height: 200px;
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
    z-index: 1000;
    /* border-bottom: 10px solid red; */
    /* transform: rotate(20deg); */
}

.card__image-container::before {
    position: absolute;
    content: '';
    width: 110%;
    height: 21px; 
    /* background-color: var(--color-fondo);  */
    /* border-bottom: 40px solid #01022F; */
    border-bottom: 40px solid var(--color-secondary);
    opacity: .2;
    z-index: 1004;
    left: -10px;
    top: 170px;
    transform: rotate(5deg)
}

.card__image-container img{
    width: 100%;
    height: 100%;
    opacity: .9;
    /* align-items: center; */
    /* align-content: center; */
    /* background: blue; */
 
  }

.card h3{
    font-size: 1.5rem;
    margin-top: 15px;
    color: var(--title-color);
}

.card p{
    font-size: 1.5rem;
    color: var(--text-color);
}
.card__header {
    /* background: red;  */
    display: flex; 
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.card__header a i{
    border-radius: 25px;
    color: var(--title-color);
    font-size: 30px;
    /* animation: gitAnimate duration timing-function delay iteration-count direction fill-mode; */
    animation:  gitAnimate 4s ease-in infinite;
    animation-delay: 3s;
}

@keyframes gitAnimate {
    0%{
        color: var(--title-color); 
    }
    50% {
        color: var(--title-color);
    }
    75% {
        color: var(--color-secondary);
    }
    100%{
        color: var(--title-color); 
    }
}
