<section class="projects animate__fadeInDown">
    <h1 class="section_title">Proyectos</h1>
    <article class="projects__container">
            <div class="card animate__flipInX headline">
                
                <div class="card__image-container">
                    <img src="../../../assets/img/undraw_Proud_coder_re_exuy.png" alt="">
                </div>
                <h3>Sistema gestión escolar</h3>
                
                <div class="card__header">
                    <p>Demo -></p>
                    <a href=""><i class="fab fa-github-square"></i></a>
                </div>
                <!-- <button class="btn btn__success">Ver</button> -->
            </div>

            <div class="card">
                
                <div class="card__image-container">
                    <img src="../../../assets/img/personal_img.png" alt="">
                </div>
                <h3>Soporte ticket</h3>
                <div class="card__header">
                    <p>Demo -></p>
                    <a href=""><i class="fab fa-github-square"></i></a>
                </div>
               
            </div>

            <div class="card">
                
                <div class="card__image-container">
                    <img src="../../../assets/img/pen.jpg" alt="">
                </div>
                <h3>Sistema de notas</h3>
                <div class="card__header">
                    <p>Demo -></p>
                    <a href=""><i class="fab fa-github-square"></i></a>
                </div>
            </div>
    </article>
</section>