/* You can add global styles to this file, and also import other style files */

/* variables globales */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
:root {
  /* --color-background: linear-gradient(
    0deg,
    rgba(3, 14, 14, 1) 0%,
    rgb(1, 2, 49) 100%
  ); */

  --color-background: #01032F; 
  --color-primary: linear-gradient(
    90deg,
    rgba(8, 6, 10, 1) 0%,
    rgba(12, 12, 12, 1) 26%,
    rgba(24, 96, 111, 1) 100%
  );
  --color-secondary: hsl(0, 0%, 31%);
  --title-color: hsl(0, 10%, 92%);
  --text-color: hsl(0, 6%, 84%);
  --shadow: 1px 1px 10px rgba(61, 111, 185, 0.89);

  /* TODO */
  /* Crear variables para:
    color success 
    color danger
    color warning
  
  */
  --color-success : hsl(151, 69%, 26%); 
  --color-danger : hsl(348, 83%, 47%);
  --color-warning: hsl(42, 100%, 50%); 



  /* --shadow: 1px 1px 15px gray;  */
  /* ----------------------- */

  /* style circle skill */

  --width--skill__progress: 250px; 
  --height--skill__progress: 250px;
  --width--skill--circle: 250px; 
  --height--skill--circle: 250px; 
  --border-fondo1:20px solid rgb(34, 231, 34,.3);
  --border-fondo2:20px solid rgba(206, 11, 11, 0.3);
  --border-fondo3:20px solid rgba(6, 22, 168, 0.3);
  --border1:20px solid rgb(10, 214, 10);
  --border2:20px solid rgb(204, 10, 4);
  --border3:20px solid rgba(5, 21, 170);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  /* text-transform: capitalize; */
}

html { 
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  /* background-image: url(assets/img/paven.png); */
  background: var(--color-background);
  background-repeat: no-repeat;

}

section {
  padding: 5rem 9%;
}

.section_title {
  text-align: center;
  font-size: 6vw;
  color: var(--title-color);
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.background_modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999;
  top: 0px;
  background-color: rgba(67, 68, 69, 0.5);
  display: flex; 
  justify-content: center;
  align-items: center; 
  padding: 45px; 
}

.container__edition{
  width: 85%;
  height: 600px;
  padding: 15px;  
  background: var(--color-background);
  border-radius: 10px;  
  color: var(--title-color);
}

@media (min-width: 650px){
  .container__edition {
    height: auto;
  }
}


/* ICON FLOAT */

.icon__float{
  position: relative;
  width: 20rem;  
  display: flex; 
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  font-size: 2rem;
}
.icon__float li {
  cursor: pointer;
}
.icon__float a{
  padding: 2px 8px; 
  border-radius: 25px;
  box-shadow: var(--shadow);
}
.icon__float a i{
  color: var(--title-color);
}

.tooltip{
  position: absolute;
  top: 0px;
  right: 0px;
  background: var(--color-primary);
  padding: 5px;
  transform: rotate(90deg);
  border-radius: 25px;
  box-shadow: var(--shadow);
  color: var(--title-color);
  font-size: 0.6em;
  transition: all 20s ease-out;
}

/* button */

.btn {
  display: inline-flex;
	align-items: center;
	justify-content: center;
  position: relative;
  margin-top: 1rem;
  padding: .7rem;
  border-radius: 5rem;
  font-size: 1.7rem;
  overflow: hidden;
  cursor: pointer;
}

.btn span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

/* bnt success */

.btn__success {
  display: flex;
  width: 12rem; 
  border: 3px solid var(--color-success);
  background: transparent; 
  color: var(--title-color);
  transition: 1s;
}

.btn__success::after {
	content: "";
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(-100% - 80px);
	border-bottom: 80px solid var(--color-success);
	border-right: 80px solid transparent;
	transition: .4s ease-in-out all;
}

.btn__success:hover::after {
	left: 0;
}



/* btn danger */

.btn__danger {
  width: 12rem; 
  border: 3px solid var(--color-danger);
  background: transparent; 
  color: var(--title-color);
  transition: .3s ease all;

}

.btn__danger::after {
	content: "";
	width: 100%;
	height: 100%;
	background: var(--color-danger);
	position: absolute;
	z-index: 1;
	top: -80px;
	left: 0;
	transition: .4s ease-in-out all;
}

.btn__danger:hover::after {
	top: 0;
}

/* btn close */

.btn__close {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 2px 8px;
  font-size: 2.2rem;
  color: var(--color-danger);
  cursor: pointer;
}

/* editing icon model*/


.edit a i {
  color: var(--color-warning); 
}

.create a i {
  color: var(--color-success);
}

.delete a i {
  color: var(--color-danger);
}


.float {
  animation:  mover .7s linear forwards;
}


@keyframes mover {
  0%{
      transform: translateX(200px);
  }
  100%{
      transform: translateX(0px);
  }
}


/* forms */

.form__group {
  margin-bottom: 20px;
}

.form__label, .form__control {
  width: 100%;
  display: block;
  font-size: 15px;
}

.form__control {
  background: #fdfcfb;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 1%;
  border-radius: 5px 5px 5px 5px;
  padding: 3px;
}

.form__control:focus {
  transform: scale(1.02);
  box-shadow: var(--shadow);
}

.form__textarea {
  overflow: scroll;
  resize: none;
}

.invalid__feedback {
  font-size: 1.2rem;
  color: var(--color-icon);
}



@media (max-width: 500px) {
  section {
    padding: 5rem 9%;
  }

  .section_title {
    font-size: 9vw;
  }
}
